---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
const pageTitle = "My Astro Learning Blog";
---
    <BaseLayout pageTitle={pageTitle}>
        <h1>Blog</h1>
        <h2>blah-dee-blah-dee-blah</h2>

        <h3>FIRST JOURNAL ENTRY</h3>
        <p>*coughs twice quietly*</p>
        <p>Beeppity-boppity-boo!</p>
        <p>And then he...</p>
        <p>Well, you know.</p>

        <ul>
            {allPosts.map((post: any) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
        </ul>
    </BaseLayout>
