---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "My Astro Learning Blog";
---
    <BaseLayout pageTitle={pageTitle}>
        <h1>{pageTitle}</h1>
        <h1>Blog</h1>
        <h2>blah-dee-blah-dee-blah</h2>

        <h3>FIRST JOURNAL ENTRY</h3>
        <p>*coughs twice quietly*</p>
        <p>Beeppity-boppity-boo!</p>
        <p>And then he...</p>
        <p>Well, you know.</p>

        <ul>
            <li><a href="/posts/post-1/">Post 1</a></li>
            <li><a href="/posts/post-2/">Post 2</a></li>
            <li><a href="/posts/post-3/">Post 3</a></li>
        </ul>
    </BaseLayout>
